/* Card css  */

.myCard {
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: #fff;
}

.myCard_title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.myCard_value {
    font-size: 2em;
    font-weight: 600;
}

.myCard_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.myCard .col-md-3,
.myCard .col-sm-6 {
    padding: 0;
}