.activity {
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.activity_header {
    justify-content: space-between;
    padding: 2rem 1rem;
    border-radius: 5px;
}

.activity_graph .link {
    text-align: right;
}

#months {
    background-color: #fff;
    border: 1px solid rgba(120, 111, 111, 0.434);
    outline: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1rem;
    color: #000000b3;
    cursor: pointer;
}

.custom-tooltip {
    background-color: #fff;
    padding: 0.7rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.activity .date-label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000b3;
    border-bottom: 1px solid #e4e4e4;
}

.activity .label {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000b3;
    padding: 0 5px;
}